<div class="mx-5">


<h2>what is decorator?</h2>
<div>
    <p>
        Decorators in Angular are a design pattern used to modify or annotate classes, properties, methods, and 
        parameters with meta-data, without changing their behavior. Essentially, decorators allow developers to modify 
        or extend the functionality of a class or its members through declarative syntax. They can be considered as 
        wrappers around classes or class members.
    </p>
    <h3>
        Angular uses four main types of decorators:
    </h3>
    <p>
       <strong>Class decorators:</strong>  
       Class decorators apply to classes to modify their behavior or define metadata. 
       <span><a class="example btn-secondary" 
        data-bs-toggle="tooltip" data-bs-placement="top" 
        title="Class decorators are used to define metadata for a class. The most common class decorator in Angular is @Component.">example
    </a>
</span>
</p>
<p><strong>Property Decorators:</strong> Property decorators are used on class properties. They help configure properties and 
provide metadata for property bindings. <span>
    <a class="example btn-secondary" 
    data-bs-toggle="tooltip" data-bs-placement="top" 
    title="Property decorators are used to define metadata for properties within a class. Examples include @Input and @Output.">example</a>
</span></p>
<p><strong>Method decorators:</strong> Method decorators apply to class methods and are often used to react to lifecycle events. 
    <span><a class="example btn-secondary"
       data-bs-toggle="tooltip" data-bs-placement="top" 
       title="Method decorators are used to define metadata for methods within a class. An example is @HostListener." 
       >example</a></span></p>
<p><strong>Parameter decorators:</strong> Parameter decorators apply to method or constructor parameters, providing additional 
metadata about the parameter <span><a class="example btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
    title="Parameter decorators are used to define metadata for parameters within a class constructor. An example is @Inject."
    >example</a></span></p>

    
<!-- <p>Default format: {{ today | date }}</p> -->

<div>
      <h1>{{ purchasedOn | date }}</h1>
    </div>
    



  



</div>
</div>
