<a routerLink="study/pipe">pipe</a>&nbsp;
<a routerLink="study/anotation"> anotation</a>&nbsp;
<a routerLink="study/decorater">decoreter</a>&nbsp;
<a routerLink="study/signals">signals</a>&nbsp;
<a routerLink="study/arrow">arrow Function</a>




<h2>1: what is the advantage of Advantages of Angular</h2>
<ol>
    <li>
        simple to build single page application 
    </li>
    <li>
        its component based  architachture 
    </li>
    <li>
        modular structure
    </li>
    <li>
        cross platform and open <source>
    </li>
    <li>
        resuable code (services)
    </li>
    <li>
        unity testing
    </li>
</ol>
<h2>single page application (SPA)</h2>
<ol>
    <li>
        in SPA page load one time and routted the component inside the page  
    </li>
    <li>
        it load/refresh the page again and again its refresh only require component only 
    </li>
    
</ol>