<div class="mx-5">


<h1>signals!</h1>
<div>

        <ol>
            <li>signal is reactive primitive to store values</li>
            <li>we can update/change values in more controlled way</li>
            <li>Track changes in the signal</li>
            <li>ng g c signal</li>
            <li>To define a variable as signal -> sinal</li>
            <li>Assign initial value variablename = signal(initialValue);</li>
            <li>How to print/use value of a signal</li>
            <li>How to updata a value of signal set mothod to update the new value</li>
            <li>computed valuesn <span>use update -> to maipulate/compute with current value</span></li>
            <li>Effect 
                <ul>
                    <li>
                        -> User delets some data-> api call should happen and some lagging 
                    </li>
                    <li>-> everytime a value of signal is changed</li>
                    <li>-> effect will be triggered angular will track all signal sinside the effect</li>
                </ul>
            </li>
        </ol>

</div>

<div>{{count()}}</div>
<!-- <div>{{count.asReadonly}}</div> -->
</div>
<button (click)="setfunctiuon()">setfunctiuon signal</button>

<button (click)="updata()">updatafunction signal</button>