<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 150px;
        "></div>
    <!-- Background image -->

    <div class="card mx-3 mx-md-5 shadow-5-strong bg-body-tertiary" style="
        margin-top: -100px;
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-3 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <h2 class="fw-bold mb-3">Sign in now</h2>
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label class="form-label" for="form3Example1">username</label>
                            </div>
                            <div class="col-md-9">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="form3Example1" formControlName="username" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <!-- Password input -->
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" for="form3Example4">Password</label>
                            </div>
                            <div class="col-md-9">
                                <div data-mdb-input-init class="form-outline mb-3">
                                    <input type="password" id="form3Example4" formControlName="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row">
                            <div class="col-md-12" style="text-align: right;">
                                <button routerLink="/forms/registration" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-block btn-block mb-3">
                                    Registration
                                </button>&nbsp;
                                    <button type="submit" [disabled]="userForm.invalid" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-block mb-3">
                                    login
                                </button>
                            </div>
                        </div>
                        <!-- Register buttons -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    @for(list of data; track list){
        <li>name : {{list.username}}</li>
        <li>title: {{list.password}}</li>
    }
</div>
